body, html {
	margin: 0px;
	padding: 0px;
	background-color: #777;
	font-family: Verdana;
	font-size: 25px;
	font-weight: bold;
}

#sceneCanvas {
	border: none;
	padding: 0px;
	margin: 0px;
}

#paused {
	visibility: hidden;
	position: absolute;
	width: 200px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	top: 0px;
	left: 0px;
	color: red;
}

#fps {
	position: absolute;
	top: 10px;
	left: 10px;
	color: red;
	font-size: 12px;
}

::selection { background: transparent; }
::-moz-selection { background: transparent; }